<div class="card">
    <h2>Compare Hashes</h2>

    <form method="POST">

        <input type="hidden" name="action" value="compare">

        <textarea name="hash_a" placeholder="Hash A">{{ hash_a }}</textarea>

        <textarea name="hash_b" placeholder="Hash B">{{ hash_b }}</textarea>

        <button>
            Compare
        </button>
    </form>

    {% if compare_result %}

    <div class="success-box">
        {{ compare_result }}
    </div>

    {% endif %}
</div>
